# 1. Importing libraries

In [1]:
import math
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

# 2. Getting the data

In [2]:
deliveries = pd.read_csv('C:/Users/neera/Mad About Sports/Advanced Cricket Analytics Masterclass/Datasets/deliveries.csv')
deliveries.head(2)

   match_id  inning         batting_team                 bowling_team  over  ball    batsman non_striker    bowler  is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs player_dismissed dismissal_kind fielder
0  1         1       Sunrisers Hyderabad  Royal Challengers Bangalore  1     1     DA Warner  S Dhawan    TS Mills  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN
1  1         1       Sunrisers Hyderabad  Royal Challengers Bangalore  1     2     DA Warner  S Dhawan    TS Mills  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN

In [3]:
matches = pd.read_csv('C:/Users/neera/Mad About Sports/Advanced Cricket Analytics Masterclass/Datasets/matches.csv')
matches.head(2)

   id  season       city        date                team1                        team2                  toss_winner toss_decision  result  dl_applied                  winner  win_by_runs  win_by_wickets player_of_match                                      venue         umpire1   umpire2  umpire3
0  1   2017    Hyderabad  2017-04-05  Sunrisers Hyderabad  Royal Challengers Bangalore  Royal Challengers Bangalore  field         normal  0           Sunrisers Hyderabad     35           0               Yuvraj Singh    Rajiv Gandhi International Stadium, Uppal  AY Dandekar     NJ Llong NaN
1  2   2017    Pune       2017-04-06  Mumbai Indians       Rising Pune Supergiant       Rising Pune Supergiant       field         normal  0           Rising Pune Supergiant  0            7               SPD Smith       Maharashtra Cricket Association Stadium    A Nand Kishore  S Ravi   NaN

# 3. Getting the match id for the particular match

In [4]:
rcb_vs_mi_match = matches[(matches.team1 == 'Royal Challengers Bangalore') & (matches.team2 == 'Mumbai Indians') & (matches.win_by_runs == 39)]
rcb_vs_mi_match

      id  season    city        date                        team1           team2                  toss_winner toss_decision  result  dl_applied                       winner  win_by_runs  win_by_wickets player_of_match             venue    umpire1        umpire2  umpire3
561  562  2015    Mumbai  2015-05-10  Royal Challengers Bangalore  Mumbai Indians  Royal Challengers Bangalore  bat           normal  0           Royal Challengers Bangalore  39           0               AB de Villiers  Wankhede Stadium  JD Cloete  C Shamshuddin NaN

In [5]:
# Match id = 562
rcb_vs_mi_match['id'].item()

562

# 4. Getting the batsman name in the dataset

In [6]:
# Batsman name = AB de Villiers
deliveries[deliveries.batting_team == 'Royal Challengers Bangalore'].batsman.unique()

array(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny', 'S Aravind', 'YS Chahal', 'TS Mills',
       'A Choudhary', 'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi',
       'AB de Villiers', 'V Kohli', 'AF Milne', 'S Badree', 'R Dravid',
       'W Jaffer', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil',
       'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi', 'S Chanderpaul',
       'LRPL Taylor', 'R Vinay Kumar', 'B Chipli', 'DW Steyn',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'J Arunkumar',
       'SP Goswami', 'Abdur Razzak', 'JD Ryder', 'KP Pietersen',
       'RV Uthappa', 'R Bishnoi', 'KV Sharma', 'Pankaj Singh',
       'RE van der Merwe', 'MK Pandey', 'KP Appanna', 'D du Preez',
       'EJG Morgan', 'A Mithun', 'S Sriram', 'MA Agarwal', 'TM Dilshan',
       'SS Tiwary', 'AUK Pathan', 'CA Pujara', 'JJ van der Wath',
       'R Ninan', 'DL Vettori', 'J Syed Mohammad', 'M Kaif',
       'LA Pomersbach', 'KB Arun Karthik', 'CK Langeveldt', 'AB McDonald',
       'HV Patel', 'RR Bhatkal', 'M Muralitharan', 'P Parameswaran',
       'DT Christian', 'KK Nair', 'MC Henriques', 'M Kartik',
       'JD Unadkat', 'R Rampaul', 'KL Rahul', 'A Mukund', 'PA Patel',
       'NJ Maddinson', 'Yuvraj Singh', 'YV Takawale', 'JA Morkel',
       'S Rana', 'MA Starc', 'AB Dinda', 'VR Aaron', 'RR Rossouw',
       'VH Zol', 'AN Ahmed', 'KD Karthik', 'DJG Sammy', 'SA Abbott',
       'MS Bisla', 'D Wiese', 'SN Khan', 'KW Richardson', 'Parvez Rasool',
       'CJ Jordan'], dtype=object)

# 5. Filtering the data for the particular match

In [7]:
rcb_vs_mi_deliveries = deliveries[deliveries.match_id == 562]
rcb_vs_mi_deliveries.head(2)

        match_id  inning                 batting_team    bowling_team  over  ball   batsman non_striker          bowler  is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs player_dismissed dismissal_kind fielder
133100  562       1       Royal Challengers Bangalore  Mumbai Indians  1     1     CH Gayle  V Kohli     MJ McClenaghan  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN
133101  562       1       Royal Challengers Bangalore  Mumbai Indians  1     2     CH Gayle  V Kohli     MJ McClenaghan  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN

In [8]:
abd_innings = rcb_vs_mi_deliveries[rcb_vs_mi_deliveries.batsman == 'AB de Villiers']
abd_innings.head(2)

        match_id  inning                 batting_team    bowling_team  over  ball         batsman non_striker      bowler  is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs player_dismissed dismissal_kind fielder
133120  562       1       Royal Challengers Bangalore  Mumbai Indians  4     2     AB de Villiers  V Kohli     SL Malinga  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN
133121  562       1       Royal Challengers Bangalore  Mumbai Indians  4     3     AB de Villiers  V Kohli     SL Malinga  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN

In [9]:
# Verification - ABD had indeed scored 133 runs in this match
abd_innings.groupby('match_id').sum()['batsman_runs']

match_id
562    133
Name: batsman_runs, dtype: int64

# 6. Getting the required data for dashboarding

In [10]:
required_columns = ['over', 'ball', 'batsman', 'bowler', 'batsman_runs']

abd_innings = abd_innings[required_columns]
abd_innings.reset_index(inplace=True, drop=True)

## 6.1 Getting the phase of play

In [11]:
# 1st over should have over no. as 0 and not 1
abd_innings['over_no'] = abd_innings['over'].apply(lambda x: x - 1)

In [12]:
def get_phase(over_no):
    # Powerplay: 0.1 - 5.6
    if over_no < 6:
        return 'Powerplay'
    # Middle overs: 6.1 - 15.6
    elif over_no < 16:
        return 'Middle'
    # Death overs: 16.1 - 19.6
    else:
        return 'Death'

In [13]:
abd_innings['phase'] = abd_innings['over_no'].apply(lambda x: get_phase(x))

## 6.2 Column cleanup

In [14]:
abd_innings.drop('over', axis=1, inplace=True)

In [15]:
abd_innings.rename(columns = {'batsman_runs': 'runs'}, inplace = True)

In [16]:
cols = ['over_no', 'ball', 'phase', 'batsman', 'bowler', 'runs']
abd_innings = abd_innings[cols]
abd_innings.head(2)

   over_no  ball      phase         batsman      bowler  runs
0  3        2     Powerplay  AB de Villiers  SL Malinga  0
1  3        3     Powerplay  AB de Villiers  SL Malinga  0

# 7. Getting the wagon wheel data
[ABD Wagon Wheel](https://www.espncricinfo.com/series/pepsi-indian-premier-league-2015-791129/mumbai-indians-vs-royal-challengers-bangalore-46th-match-829795/match-statistics)

In [17]:
data = {
    'Score Area': ['Third man', 'Point', 'Cover', 'Long off', 'Long on', 'Mid wicket', 'Square leg', 'Fine leg'],
    'Percentage': [3/133, 8/133, 28/133, 12/133, 26/133, 37/133, 13/133, 6/133],
    'Runs': [3, 8, 28, 12, 26, 37, 13, 6],
    'Wagon': list(range(1, 9))
}

In [18]:
wagon_wheel = pd.DataFrame(data)
wagon_wheel['Percentage'] = wagon_wheel['Percentage'].astype(float).round(2)
wagon_wheel

   Score Area  Percentage  Runs  Wagon
0  Third man   0.02        3     1
1  Point       0.06        8     2
2  Cover       0.21        28    3
3  Long off    0.09        12    4
4  Long on     0.20        26    5
5  Mid wicket  0.28        37    6
6  Square leg  0.10        13    7
7  Fine leg    0.05        6     8

# 8. Exporting the data

In [19]:
with pd.ExcelWriter('C:/Users/neera/Mad About Sports/Advanced Cricket Analytics Masterclass/Datasets/abd_innings.xlsx') as writer:
    abd_innings.to_excel(writer, sheet_name='ABD Innings', index=False)
    wagon_wheel.to_excel(writer, sheet_name='Wagon Wheel', index=False)